@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.hero-section {
    padding-top:50px;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0; 
    text-align: center;
    height:535px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 170px;
    margin-top: 30px;
}

.floating-card a {

    color:#ffffff;

}
.hero-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family:"Prompt", sans-serif;
    text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
    line-height: 45px;
    opacity: 0.7;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom:40px;
}

.hero-section .button {

    background: linear-gradient(-90deg, rgb(161,187,59) 0%, rgb(89,142,49) 100%);
    width:340px;
    height:60px;
    border: 1px solid #ffffff;
    font-family:"Montserrat", sans-serif;
    font-size:18px;
    font-weight:500;
    color:#ffffff;
    cursor:pointer;
    margin-top: 20px;
    padding: 20px 30px;
    text-decoration:none;

}

.floating-card-wrapper {

    position:relative;
}

.floating-icon-wrapper {

    position:relative;

}

img.icon-flora {
    
    position:absolute;
    left: 250px;
    top: -60px;

}

img.plus-bottom {
 
    position:absolute;
    left: 350px;
    top: 30px;

}

img.monkey {

    position:absolute;
    right:200px;
    z-index:2;

}

img.plus {

    position:absolute;
    right:290px;
    z-index:4;
    top:100px;
}

.hero-section .floating-card {

    max-width:400px;
    background-color: rgb(0,0,0, 0.5);
    padding: 10px 20px 10px 20px;
    margin:0 auto;
    position:absolute;
    right:300px;
    z-index:3;
    border: 1px solid #ffffff;
    border-radius: 10px;

}

