@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    /*font-family: 'Montserrat', sans-serif;*/
	margin:  0px !important;
}
div, ul, li, p, h1 {
    font-family: 'Montserrat', sans-serif;
}
/*Desktop*/
#secondary {
	display:none;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px; 
    z-index: 9999;
    position: relative;
}

ul.navbar-menu li {
    display: inline-flex;
}
ul.navbar-menu-footer li {
    display: inline-flex;
	
}
ul.navbar-menu-footer a {
    display: inline-flex;
	text-decoration:none;
	color:#544a41;

}
.footer-column .menu-menu-1-container ul  {
	margin-top:0px !important;
		margin-bottom:20px;
}
.info-footer{
	display:inline-flex;
    font-size:12px;
}

.footer-column .menu {

    font-size:12px;
}
.copyright:after {
    content: "|";
    margin: 0 10px;
}

.address:after {
    content: "|";
    margin: 0 10px;
}

.footer-wrapper {
    padding-left: 100px;
    padding-right: 100px;
}

ul.navbar-menu li:not(:last-child)::after {
    content: "•";
    margin: 0 10px;
    color: #5e9132;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px; 
    margin-left: 30px;
    font-size: 20px;
}

ul.navbar-menu-footer li:not(:last-child)::after {
    content: "•";
    margin: 0 10px;
    color: #5e9132;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px; 
    margin-left: 30px;
}

.left-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu {
    list-style-type: none;
    display: block;
}

.navbar-menu li {
    display: inline-block;
}

.left-wrapper ul {
    margin-right: 30px !important;
}

.navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar-button button {
    background-color: #ffffff00;
    color: #fff;
    font-family:"Montserrat", sans-serif;
    text-transform:uppercase;
    border: 1px solid #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    height:46px;
    width:166px;

}

.navbar-button button .button-icon {
    margin-right: 5px;
    max-width: 20px;
    max-height: 20px;
}

.navbar-button button:hover {
    background-color: #ff8533;
}

.the-earth-footer {
    background-color: #ffffff;
}

.footer-wrapper {
    display: flex;
    max-width: 1300px;
}

.footer-column {
    padding: 20px;
    text-align: right;
    max-width: 100%;
    overflow: hidden;
}

.footer-column img {
    max-width: 100%;
    height: auto;
    display: block;
}

.social-media-icons img {
    margin-right: 10px;
}

#logo-footer {

    width:20%;
}

#site-description{

    width:30%;
}

#site-description{ 

    padding-right:0px;

}

#menu-footer {

    width:60%;
    padding-left:0px;

}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 10px;
}

main#primary {
    margin-top:-100px;
}

.hero-section {

  max-height:835px;

}